.home {
  background: url(../../images/background1.png);
  background-repeat: no-repeat;

  min-height: 90vh;
}
.home-container {
  min-height: 90vh;
}
@media only screen and (max-width: 600px) {
  .home {
    background: url(../../images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top top;
    min-height: 90vh;
  }
}
