.dashboard {
  font-family: Arial, Helvetica, sans-serif;
}
.box-1 {
  background-color: darkorange !important;
}
.box-2 {
  background-color: deepskyblue;
}
.box-3 {
  background-color: rgb(19, 196, 19);
}
.box-4 {
  background-color: tomato;
}
.box-1,
.box-2,
.box-3,
.box-4 {
  border-radius: 5px;
}
.box-1 h3,
.box-2 h3,
.box-3 h3,
.box-4 h3 {
  font-weight: 900;
  font-size: 35px;
}
#status {
  background-color: darkorange;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
  border: 0px;
}
#status option {
  color: black;
}
.medicine_input > input:nth-child(1) {
  width: 50%;
}
.medicine_input > input:nth-child(3) {
  width: 20%;
}
.medicine_input > input:nth-child(4) {
  width: 10%;
}
.spinner-box {
}
